body {
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size:100px;
  font-family: 'Bitter', serif;
  font-weight:bold;
  margin: 40px 0 30px 0;
}
h2 {
  font-family: 'Bitter', serif;
  font-size:50px;
  margin: 20px 0 0 0;
}
h3 {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 20px;
  line-height:30px;
}
a {
  color:#c0392b;
}
a:hover {
  color: #f96e5e;
}
a img {
  border:0;
}
a.button {
  display:inline-block;
  color:#FFF;
  background-color:#c0392b;
  text-decoration:none;
  padding:10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom:10px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -ms-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
a.button:hover {
  background-color:#f96e5e;
}
a.button.small {
  background-color:#7f8c8d;
  padding:8px;
  font-size:0.8em;
}
a.button.small:hover {
  background-color:#95a5a6;
}
.section {
  margin:0;
  padding:40px;
  background-color:#ecf0f1;
}
.section.odd {
  background-color:#dbe0e0;
}
.wrapper {
  margin:40px auto;
  width:1200px;
}
.social {
text-align: center;
}
.half {
  width:49%;
  display:inline-block;
  vertical-align:middle;
}
.padding {
  20px;
}
.half.left .padding {
  padding:0 20px 20px 0;
}
.half.right .padding {
  padding:0 0 20px 20px;
}
.half img {
  width: 350px;
  height:350px;
}
.space {
  height:40px;
}

/* section-specific styles */
header {
  background-color:#c0392b;
  background-position:bottom center;
  color:#FFF;
  padding-bottom:60px;
}

header h1, header h2 {
  text-align:center;
}
header h2 {
  color: #FDD;
  margin: 20px 0 20px 0;
}
footer {
  background-color: #152330;
  /*background-repeat:repeat-x;*/
  background-position: top center;
  color:#FFF;
}
footer a.button {
  background-color:#34495e;
  font-size:0.8em;
  padding:8px;
}
footer a.button:hover {
  background-color:#455A6F;
}
footer p {
  text-align:center;
}

@media all and (max-width: 1300px) {
  .wrapper {
    width:80%;
    padding:0;
  }
  h1 {
    font-size:80px;
  }
  h2 {
    font-size: 40px;
    font-family: 'Bitter', serif;

  }
  header h2 {
    font-size:30px;
  }
}
@media all and (max-width:900px) {
  h1 {
    font-size:60px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
    line-height:25px;
  }
  header h2 {
    font-size:20px;
  }
  .section {
    padding:20px;
  }
  .half {
    width:auto;
    display:block;
    margin-bottom:20px;
  }
  .half.left .padding, .half.right .padding, .padding {
    padding:20px;
  }
  footer p {
    text-align:left;
  }
}
@media all and (max-width:500px) {
  h1 {
    font-size:45px;
  }
  header h2 {
    font-size:15px;
  }
  .section {
    padding:10px;
  }
  .half {
    margin-bottom:10px;
  }
  .half.left .padding, .half.right .padding, .padding {
    padding:5px;
  }
}
.clear {
clear: both;
}
/*.section #pictures {
  height: auto;
}*/

figure {
  display:inline;
  float:left;
  justify-content: space-around;
  padding: 0px;

  text-align: center;
}
figure figcaption {
  text-align: center;
}


@media .img and {
  h1 {
    font-size:38px;
  }
  h2 {
    font-size:25px;
  }
  /*.img1 {
      margin: 5px;
      border: 1px solid #ccc;
      float: center;
      width: 180px;
  }*/

  div.img:hover {
      border: 1px solid #777;
  }



}
